In [1]:
import pandas as pd
from keybert import KeyBERT

In [2]:
model = KeyBERT()

In [3]:
news = pd.read_csv(r"C:\Users\HP\Downloads\week00_data\data.csv")

In [4]:
list_of_titles = news['title'].tolist()
list_of_titles[:20]

["UN Chief Urges World To 'Stop The Madness' Of Climate Change",
 'RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。',
 "UN Chief Urges World to 'Stop the Madness' of Climate Change",
 'Sikkim warning: Hydroelectricity push must be accompanied by safety measures',
 '200 foreigners, dual nationals cut down in Hamas assault. Here’s where they were from',
 '中印交惡令尼泊爾機場難以發展國際航線',
 'Pro-Israel rallies allowed in India but Palestine solidarity sees crackdown',
 'No nation in the world is buying more planes than India. Here’s why.',
 "More than 130 people have reportedly been taken to Gaza as hostages. Here's what we know",
 'World Cup: New Zealand v Bangladesh - clips, radio & text',
 'Glacial Lakes Threaten Millions in a Warming World',
 "UN Chief Urges Peace From Site Venerated as Buddha's Birthplace",
 'PM Hasina’s war on terror gets daughter India’s vote in WHO',
 'Over 1,000 call centre scammers detained this year, say cops',
 'Magnitude 5.6 earthquake strikes Nepal',
 'China expands climate change surveillance on Himalayan peak',
 'Middle Sinitic in Indological Transcription',
 'AI of tiger: Tiny camera protects people',
 'CNA wins gold in Best Use of Video category at WAN-IFRA Asian Digital Media Awards 2023',
 'WHO Regional Election Sparks Nepotism Concerns in Bangladesh']

In [5]:
# making a new list that contain just strings in case there is an apropriate values in "lilst_of_titles"
string_titles = []
for title in list_of_titles:
    if isinstance(title, str):
        string_titles.append(title)
    else :
        string_titles.append(str(title))
# string_titles[:10]
len(string_titles)

105375

In [14]:
import random
sample_of_titles = random.sample(list_of_titles,1000)
# sample_of_titles[:20]

In [11]:

# Join the list elements with newlines to create a docstring
titles_docstring = "\n".join(string_titles[:10])

print(titles_docstring)

UN Chief Urges World To 'Stop The Madness' Of Climate Change
RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
UN Chief Urges World to 'Stop the Madness' of Climate Change
Sikkim warning: Hydroelectricity push must be accompanied by safety measures
200 foreigners, dual nationals cut down in Hamas assault. Here’s where they were from
中印交惡令尼泊爾機場難以發展國際航線
Pro-Israel rallies allowed in India but Palestine solidarity sees crackdown
No nation in the world is buying more planes than India. Here’s why.
More than 130 people have reportedly been taken to Gaza as hostages. Here's what we know
World Cup: New Zealand v Bangladesh - clips, radio & text

In [30]:
titles_keywords = model.extract_keywords(sample_of_titles)

In [33]:
titles_keywords[:5]

[[('apa', 0.5283),
  ('nasdaq', 0.478),
  ('stocknews', 0.4371),
  ('upgraded', 0.4199),
  ('com', 0.1947)],
 [('climate', 0.4218),
  ('civilizations', 0.4199),
  ('roman', 0.3748),
  ('ancient', 0.3284),
  ('empire', 0.2388)],
 [('grenfell', 0.5273),
  ('2026', 0.3802),
  ('construction', 0.3617),
  ('tower', 0.3556),
  ('memorial', 0.3537)],
 [('poland', 0.3843),
  ('coalition', 0.3592),
  ('majority', 0.3405),
  ('parliament', 0.3357),
  ('conservatives', 0.3249)],
 [('price', 0.3464),
  ('apollo', 0.3301),
  ('nyse', 0.3239),
  ('apo', 0.3182),
  ('target', 0.2854)]]

In [16]:
# model.extract_keywords(sample_of_titles, keyphrase_ngram_range=(1, 2), stop_words=None)

In [17]:
list_of_content = news['content'].tolist()
list_of_content[:10]

['UN Secretary-General Antonio Guterres urged the world Monday to "stop the madness" of climate change as he visited Himalayan regions struggling from rapidly melting glaciers to witness the devastatin… [+2444 chars]',
 'RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepal Handmade ram vest"Nepal Handmade ram knit"2023106()12:00WEB\n106() 12:00\nhttps://x.gd/226uY\nNepal Handmade ram vest\n¥17,600()\nGray/Ivory\n[]\n1\n[D… [+583 chars]',
 'Kathmandu, Nepal \xa0UN Secretary-General Antonio Guterres urged the world Monday to "stop the madness" of climate change as he visited Himalayan regions struggling from rapidly melting glaciers to witn… [+2468 chars]',
 'At least 14 persons lost their lives and more than 100 others, including 23 army personnel, are reportedly missing in Sikkim after the Teesta river went into spate on Wednesday. The flash floods seem… [+1826 chars]',
 'Scores of foreign citizens were killed, taken hostage or listed as missing after the Hamas terror group launched a major assault on Israel on October 7.\nMore than 1,400, mainly civilians, have been … [+4658 chars]',
 'Getty Images\n20225\n·Bishnu Sharma\nLumbini\nLumbini Development Trust2022100760061005Gautam Buddha International Airport\nBhairahawa Airport250155\nBBC\nBBC/Anbarasan Ethirajan\n12\nGetty Images\n2… [+196 chars]',
 'New Delhi, India Israels relentless bombing of the besieged Gaza Strip and killing of nearly 6,000 people a third of them children in two weeks has outraged people across the world, triggering mass p… [+9013 chars]',
 'No nation in the world is buying as many airplanes as India. Its largest airlines have ordered nearly 1,000 jets this year, committing tens of billions of dollars to a spending spree that is unparall… [+7083 chars]',
 "Hamas fighters have escaped back to Gaza with dozens of captives following the group's unprecedented attack on Israel which saw at least 700 Israelis killed, followed by 400 Palestinians after retali… [+1553 chars]",
 "Here we are then. Match 11 of the Cricket World Cup. A week and a day into the tournament and we've seen records broken, plenty of passion and a decent helping of DRS controversy.\nWhat we haven't ha… [+252 chars]"]

In [21]:
# Cleaning the list to be just a string
string_content = []
for content in list_of_content:
    if isinstance(content, str):
        string_content.append(content)
    else :
        string_content.append(str(content))
string_content[:5]

['UN Secretary-General Antonio Guterres urged the world Monday to "stop the madness" of climate change as he visited Himalayan regions struggling from rapidly melting glaciers to witness the devastatin… [+2444 chars]',
 'RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepal Handmade ram vest"Nepal Handmade ram knit"2023106()12:00WEB\n106() 12:00\nhttps://x.gd/226uY\nNepal Handmade ram vest\n¥17,600()\nGray/Ivory\n[]\n1\n[D… [+583 chars]',
 'Kathmandu, Nepal \xa0UN Secretary-General Antonio Guterres urged the world Monday to "stop the madness" of climate change as he visited Himalayan regions struggling from rapidly melting glaciers to witn… [+2468 chars]',
 'At least 14 persons lost their lives and more than 100 others, including 23 army personnel, are reportedly missing in Sikkim after the Teesta river went into spate on Wednesday. The flash floods seem… [+1826 chars]',
 'Scores of foreign citizens were killed, taken hostage or listed as missing after the Hamas terror group launched a major assault on Israel on October 7.\nMore than 1,400, mainly civilians, have been … [+4658 chars]']

In [24]:
sample_of_content = random.sample(list_of_content,1000)

In [38]:
content_docstring = "\n".join(string_titles)

In [27]:
keywords2 = model.extract_keywords(sample_of_content)

In [29]:
keywords2[:5]

[[('shares', 0.4719),
  ('drilling', 0.3862),
  ('company', 0.3838),
  ('borr', 0.3622),
  ('nyse', 0.3586)],
 [('ansys', 0.4473),
  ('nasdaq', 0.4419),
  ('cibc', 0.4223),
  ('holdings', 0.3973),
  ('anss', 0.3912)],
 [('movies', 0.4156),
  ('multiplex', 0.3912),
  ('november', 0.3803),
  ('streaming', 0.3536),
  ('movie', 0.2667)],
 [('nigerian', 0.3965),
  ('kale', 0.3903),
  ('nigeria', 0.3547),
  ('tinubu', 0.3459),
  ('general', 0.2891)],
 [('korea', 0.4743),
  ('seoul', 0.4326),
  ('korean', 0.3788),
  ('russia', 0.34),
  ('yoon', 0.3351)]]

# For checking how similer the title keywords to the content keywords I used

In [40]:
def jaccard_similarity(list1, list2):
  """Calculates Jaccard similarity between two lists of keywords.

  Args:
      list1: The first list of keywords (words only).
      list2: The second list of keywords (words only).

  Returns:
      The Jaccard similarity coefficient (float between 0 and 1).
  """
    for word in list1:
        set1= set(list1)
    set1 = set([(word, weight) for word, weight in list1]) 
    set2 = set([(word, weight) for word, weight in list1])  
  # Extract words from tuples in list2
  intersection = len(set1.intersection(set2))
  union = len(set1.union(set2))
  return intersection / float(union) if union else 0  # Handle division by zero

IndentationError: unexpected indent (4216130919.py, line 11)

In [39]:
similarity = jaccard_similarity(titles_keywords, keywords2)
print(f"Jaccard similarity: {similarity:.4f}")

ValueError: too many values to unpack (expected 2)

In [41]:
from gensim import similarities
from collections import defaultdict

def tfidf_similarity(list1, list2):
  """Calculates TF-IDF cosine similarity between two lists of keywords.

  Args:
      list1: The first list of keywords.
      list2: The second list of keywords.

  Returns:
      The cosine similarity score (float between 0 and 1).
  """

  # Create a dictionary to store keywords and their frequencies
  corpus = []
  for keywords in [list1, list2]:
    word_counts = defaultdict(int)
    for word, _ in keywords:
      word_counts[word] += 1
    corpus.append(word_counts)

  # Create a TF-IDF model
  dictionary = corpora.Dictionary(corpus)
  tfidf = similarities.MatrixSimilarity(tfidf[corpus])

  # Calculate cosine similarity
  vec1 = dictionary.doc2bow(list1)
  vec2 = dictionary.doc2bow(list2)
  similarity = tfidf[vec1][vec2]
  return similarity

# Example usage (assuming you have gensim installed)
list1 = [('shares', 0.4719), ('drilling', 0.3862), ('company', 0.3838)]
list2 = [('ansys', 0.4473), ('nasdaq', 0.4419), ('company', 0.4223)]

similarity = tfidf_similarity(list1, list2)
print(f"TF-IDF cosine similarity: {similarity:.4f}")

ModuleNotFoundError: No module named 'gensim'